<!DOCTYPE html>

<html>

<head>

    <title>MeanBean - Admin - Edit Customer</title>

    {% include 'header-common.html' %}

</head>

<body>

    <!-- Navigation Bar -->

    {% include 'NavBar.html' %}

    <!-- End Navigation Bar -->

    <br>
    <table>
        <tr>
            <td style="border-bottom:1px solid black;font-size:20px;">Accounting Info</td>
            <td style="border-bottom:1px solid black;"></td>
        </tr>
        <tr><td><form action="/accounting/deleteAll" method="post">
                    <input type="submit" value="Delete All Entries" name="delete" onclick="return confirm('Are you sure you want to continue?')" />
        </form></td></tr>

        <tr>
            <td >Total Points Redeemed in System:</td>
            <td >{{ totalPointsFromRedeemLog }}</td>
        </tr>
    </table>
    <table>
        <tr>
            <th>Months Viewable:</th>
        </tr>
        {% for row in redeemlog %}
        <tr>
            <td><a href="/accounting/view/{{ row.Year }}/{{ row.Month }}">{{ row.Year }}/{{ row.Month }}</a></td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>
