<!DOCTYPE html>

<html>

<head>

    <title>MeanBean - Admin - Edit Customer</title>

    {% include 'header-common.html' %}

</head>

<body>

    <!-- Navigation Bar -->

    {% include 'NavBar.html' %}

    <!-- End Navigation Bar -->

    <br>
    <table border="1">
        <tr>
            <td>Date/Time:</td>
            <td>Customer:</td>
            <td>User:</td>
            <td>Redeemed</td>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.Time }}</td>
            <td>{{ row.Customer }}</td>
            <td>{{ row.User }}</td>
            <td>{{ row.Point }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
