<!DOCTYPE html>

<html>

<head>

    <title>MeanBean - Admin - Edit Customer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="styleSheet.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <style>

table
{
    margin-left:auto;
    margin-right:auto;
    border-collapse:collapse;
}

td
{
    text-align: right;
    padding: 5px;
}

    </style>

</head>

<body>

    <!-- Navigation Bar -->

    {% include 'NavBar.html' %}

    <!-- End Navigation Bar -->

    <br>
    <table>
        <form action="/customers/edit/{{ id }}" method="post">
            <tr>
                <td style="border-bottom:1px solid black;font-size:20px;">Edit Customer</td>
                <td style="border-bottom:1px solid black;"></td>
            </tr>
            <tr>
                <td >First Name:</td>
                <td ><input name="firstname" type="text" value="{{ Customer.FirstName }}" /></td>
            </tr>

            <tr>
                <td >Last Name:</td>
                <td ><input name="lastname" type="text" value="{{ Customer.LastName }}" /></td>
            </tr>

            <tr>
                <td >Telephone:</td>
                <td ><input name="telephone" type="text" value="{{ Customer.Telephone }}" /></td>
            </tr>

            <tr>
                <td >E-mail:</td>
                <td ><input name="email" type="text" value="{{ Customer.Email }}" /></td>
            </tr>

            <tr>
                <td >Points:</td>
                <td ><input name="points" type="text" value="{{ Customer.Points }}" /></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="submit" name="save" value="Save" /><input type="submit" name="delete" value="Delete" /></td>
                <td></td>
            </tr>
        </form>
    </table>

</body>

</html>
