<!DOCTYPE html>

<html>

<head>

    <title>MeanBean - Admin - Add Customer</title>

    {% include 'header-common.html' %}

</head>

<body>

    <!-- Navigation Bar -->

    {% include 'NavBar.html' %}

    <!-- End Navigation Bar -->

    <br>

  <!-- Add New User Container -->
        <form action="" method="post">
  <table width="480" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <th colspan="2" class="cellBoxes" style="font-size: 35px" scope="col">New Customer</th>
      </tr>
      <tr>
        <td width="125" class="cellBoxes"><span class="labels" style="font-size:20px;height:50px;margin-bottom:10px;vertical-align:middle;line-height:50px;">First Name:</span></td>
        <td width="309"><span style="float:left;">
          <input type="text" name="firstname" tabindex="1" class="searchBarShort" value="{{ Customer.FirstName }}"/>
        </span></td>
                <td>
                    {%  if Customer.posted == true %}
                    {%  if Customer.FirstName|length == 0 %}<span style="color:red;">*</span>{% endif %}
                    {% endif %}
                </td>
      </tr>
      <tr>
        <td class="cellBoxes"><span class="labels" style="font-size:20px;height:50px;margin-bottom:10px;vertical-align:middle;line-height:50px;">Last Name:</span></td>
        <td><span style="float:left;">
          <input type="text" name="lastname" tabindex="2" class="searchBarShort" value="{{ Customer.LastName }}"/>
        </span></td>
                <td>
                    {%  if Customer.posted == true %}
                    {%  if Customer.LastName|length == 0 %}<span style="color:red;">*</span>{% endif %}
                    {% endif %}
                </td>
      </tr>
      <tr>
        <td class="cellBoxes"><span class="labels" style="font-size:20px;height:50px;margin-bottom:10px;vertical-align:middle;line-height:50px;">Telephone:</span></td>
        <td><span style="float:left;">
          <input type="text" name="telephone" tabindex="3" class="searchBarShort" value="{{ Customer.Telephone }}"/>
        </span></td>
                <td>
                    {%  if Customer.posted == true %}
                    {%  if Customer.Telephone|length == 0 %}<span style="color:red;">*</span>{% endif %}
                    {% endif %}
                </td>
      </tr>
      <tr>
        <td class="cellBoxes"><span class="labels" style="font-size:20px;height:50px;margin-bottom:10px;vertical-align:middle;line-height:50px;">Email:</span></td>
        <td><span style="float:left;">
          <input type="text" name="email" tabindex="3" class="searchBarShort" />
        </span></td>
      </tr>
      <tr>
        <td class="cellBoxes"><span class="labels" style="font-size:20px;height:50px;margin-bottom:10px;vertical-align:middle;line-height:50px;">Points:</span></td>
        <td><span style="float:left;">
          <input type="text" name="points" tabindex="5" class="searchBarShort" />
        </span></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><span style="float:left;">
          <input type="submit" name="newSubmit2" value="Add" tabindex="5" class="searchButton" ontouchstart="background: -webkit-linear-gradient(#ed1c24, #fe4a51);background: -o-linear-gradient(#ed1c24, #fe4a51);background: -moz-linear-gradient(#ed1c24, #fe4a51);background: linear-gradient(#ed1c24, #fe4a51);color: #fff;border-radius:20px;"/>
        </span></td>
      </tr>
    </tbody>
  </table>
</form>

</body>

</html>
