<!DOCTYPE html>

<html>

<head>

    <title>MeanBean Freebies Dashboard</title>

    {% include 'header-common.html' %}

    <!-- link to external jQuery file -->
    <script src="/calculator.js"></script>

</head>

<body>

    <!-- Navigation Bar -->

    {% include 'NavBar.html' %}

    <!-- End Navigation Bar -->

    <!-- Start Freebies Container -->

    <div class="content">
        <div class="InfoBox">
            <table width="380" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td colspan="2" class="cellHeading">Customer</td>
                    </tr>
                    <tr>
                        <td class="cellHeading">Name:</td>
                        <td class="cellBoxes">
                            <input id="customerid" type="hidden" value="{{ Customer.id }}">
                            {{ Customer.FirstName }} {{ Customer.LastName }}
                    </tr>
                    <tr>
                        <td class="cellHeading">Points:</td>
                        <td id="systemPoints" class="cellBoxes"><div id="customerPoints">{{ Customer.Points }}</div></td>
                    </tr>
                    <tr>
                        <td class="cellHeading">
                            <div id="summary"></div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="ButtonBox">
            <div id="calc_display" class="buttonDisplayBox">
            </div>
            <div class="numberButtons">
                <input type="button" value="1" class="calculatorButtons" />
                <input type="button" value="2" class="calculatorButtons"/>
                <input type="button" value="3" class="calculatorButtons"/>
                <input type="button" value="4" class="calculatorButtons"/>
                <input type="button" value="5" class="calculatorButtons"/>
                <input type="button" value="6" class="calculatorButtons"/><br>
                <input type="button" value="7" class="calculatorButtons"/>
                <input type="button" value="8" class="calculatorButtons"/>
                <input type="button" value="9" class="calculatorButtons"/>
                <input type="button" value="0" class="calculatorButtons"/>
                <input type="button" id="clear" value="Clear" class="calculatorWideButtons2" />
                <input type="button" id="clearAll" value="Clear All" class="calculatorWideButtons2" />
            </div>
            <div class="actionButtons">
                <input type="button" id="add" value="Add" class="calculatorWideButtons"/><br>
                <input type="button" id="minus" value="Subtract" class="calculatorWideButtons"/><br>
                <input type="button" id="redeem" value="Redeem" class="calculatorWideButtons" />
                <input type="button" id="undoredeem" value="Unredeem" class="calculatorWideButtons" />
            </div>
        </div>
    </div>


    <!-- End Freebies Container -->

</body>

</html>
