<!DOCTYPE html>

<html>

<head>

    <title>MeanBean Freebies Dashboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="styleSheet.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- link to external jQuery file -->
    <script src="/calculator.js"></script>



</head>

<body>

    <!-- Navigation Bar -->

    {% include 'NavBar.html' %}

    <!-- End Navigation Bar -->

    <!-- Start Freebies Container -->

    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-5 col-md-5 col-lg-5">

                <div class="row" >

                    <div class="col-sm-12 col-md-12 col-lg-12">

                        <table style="margin-top:10px;">

                            <th colspan="2" style="border-bottom:1px solid black;text-align:center;font-size:25px;">Customer Information</th>
                            <input type="hidden" id="customerid" value="{{ id }}">
                            <tr style="font-size:20px;"><td style="font-weight:bold;padding-bottom:10px;">Name:</td><td id="customerName" style="padding-bottom:10px;">{{ Customer.FirstName }} {{ Customer.LastName }}</td></tr>
                            <tr style="font-size:20px;"><td style="font-weight:bold;padding-bottom:10px;">Points in System:</td><td id="systemPoints" style="padding-bottom:10px;">{{ Customer.Points }}</td></tr>
                            <!-- <tr style="font-size:20px;"><td style="font-weight:bold;padding-bottom:10px;">Freebies:</td><td id="customerFreebies" style="padding-bottom:10px;"></td></tr> -->
                            <tr style="font-size:20px;"><td style="font-weight:bold;padding-bottom:10px;">Points to +/- :</td><td id="customerPoints" style="padding-bottom:10px;"></td></tr>
                            <tr style="font-size:20px;"><td style="font-weight:bold;padding-bottom:10px;">Summary:</td><td id="summary" style="padding-bottom:10px;"></td></tr>
                        </table>

                    </div>
                </div>



            </div>

            <div class="col-sm-7 col-md-7 col-lg-7">

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <br>
                        <div id="calc_display" style="border:1px solid black;height:75px;width:273px;margin-left:10px;text-align:center;font-size:54px;"></div>
                        <input type="button" value="1" class="numberButtons" style="margin:10px;width:75px;height:75px;"/>
                        <input type="button" value="2" class="numberButtons" style="margin:10px;width:75px;height:75px;"/>
                        <input type="button" value="3" class="numberButtons" style="margin:10px;width:75px;height:75px;"/>
                        <input type="button" value="Add" id="add" style="margin:10px;width:100px;height:75px;"/><br>
                        <input type="button" value="4" class="numberButtons" style="margin:10px;width:75px;height:75px;"/>
                        <input type="button" value="5" class="numberButtons" style="margin:10px;width:75px;height:75px;"/>
                        <input type="button" value="6" class="numberButtons" style="margin:10px;width:75px;height:75px;"/>
                        <input type="button" value="Subtract" id="minus" style="margin:10px;width:100px;height:75px;"/><br>
                        <input type="button" value="7" class="numberButtons" style="margin:10px;width:75px;height:75px;"/>
                        <input type="button" value="8" class="numberButtons" style="margin:10px;width:75px;height:75px;"/>
                        <input type="button" value="9" class="numberButtons" style="margin:10px;width:75px;height:75px;"/>
                        <input type="button" value="Redeem" id="redeem" style="margin:10px;width:100px;height:75px;"/>
                        <br>
                        <input type="button" value="Clear" id="clear" style="margin:10px;width:75px;height:75px;"/>
                        <input type="button" value="0" class="numberButtons" style="margin:10px;width:75px;height:75px;"/>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" value="Undo Redeem" id="undoredeem" style="margin:10px;width:110px;padding-left:5px;height:75px;"/>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- End Freebies Container -->

</body>

</html>
