<!DOCTYPE html>

<html>

<head>

    <title>MeanBean Login</title>

    {% include 'header-common.html' %}

</head>

<body>

    <!-- Navigation Bar -->

    {% include 'NavBar.html' %}

    <!-- End Navigation Bar -->

    <!-- Start Login Container -->
    <form action="/login" method="post">
    <table width="500" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <th colspan="2" class="cellHeading" style="font-size: 35px" scope="col">Login</th>
            </tr>
            <tr>
                <td width="224" align="left" class="cellBoxes"><span class="labels" style="font-size:20px;height:50px;margin-bottom:10px;vertical-align:middle;line-height:50px;">Username:</span></td>
                <td width="376" align="center"><span style="float:left;">
                        <input type="text" name="userName" tabindex="1" class="searchBarShort" />
                </span></td>
            </tr>
            <tr>
                <td align="left" class="cellBoxes"><span class="labels" style="font-size:20px;height:50px;margin-bottom:10px;vertical-align:middle;line-height:50px;">Password:</span></td>
                <td height="75" align="center"><span style="float:left;">
                        <input type="password" name="password" tabindex="2" class="searchBarShort"/>
                </span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><span style="float:left;">
                        <input type="submit" name="Submit" value="Login" tabindex="5" class="logInButton" ontouchstart="background: -webkit-linear-gradient(#ed1c24, #fe4a51);background: -o-linear-gradient(#ed1c24, #fe4a51);background: -moz-linear-gradient(#ed1c24, #fe4a51);background: linear-gradient(#ed1c24, #fe4a51);color: #fff;border-radius:20px;"/>
                </span></td>
            </tr>
        </tbody>
    </table>
</form>
</div>
<!-- End Login Container -->

    </body>

    </html>
